<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"  lang="pl" data-bs-theme="auto">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGRBooks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Do karuzeli  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link th:href="@{/css/carousel.css}" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" th:href="@{/}">NGRBooks</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/books}" th:text="#{baza}"></a>
                </li>
            </ul>
            <form class="d-flex mx-3" th:action="@{/search}" method="get">
                <input class="form-control me-2" type="search" name="keyword" th:placeholder="#{szukaj}" th:label="#{szukaj}">
                <button class="btn btn-outline-success" type="submit" th:text="#{szukaj}"></button>
            </form>
        </div>
        <div  class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                    <li class="nav-item"><a class="nav-link" th:href="@{/profile}" th:text="#{profil}"></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/logout}" th:text="#{wyloguj}"></a></li>
                </th:block>
                <th:block th:if="${#authorization.expression('isAnonymous()')}">
                    <li class="nav-item"><a class="nav-link" th:href="@{/login}" th:text="#{logowanie}"></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/register}" th:text="#{rejestracja}"></a></li>
                </th:block>
            </ul>
        </div>
        <div class="d-flex align-items-center gap-3">
            <div class="d-flex align-items-center dropdown color-modes">
                <button class="btn btn-link px-0 text-decoration-none dropdown-toggle d-flex align-items-center"
                        id="bd-theme"
                        type="button"
                        aria-expanded="false"
                        data-bs-toggle="dropdown"
                        data-bs-display="static">
                    <span class="ms-2" id="bd-theme-text">🌗</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme" style="--bs-dropdown-min-width: 8rem;">
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
                            <span class="bi me-2 opacity-50 theme-icon">☀️</span>
                            <span class="bi ms-auto d-none">✔️</span>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
                            <span class="bi me-2 opacity-50 theme-icon">🌙</span>
                            <span class="bi ms-auto d-none">✔️</span>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto">
                            <span class="bi me-2 opacity-50 theme-icon">🌗</span>
                            <span class="bi ms-auto d-none">✔️</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-center gap-3">
            <div class="d-flex align-items-center dropdown color-modes">
                <button class="btn btn-link px-0 text-decoration-none dropdown-toggle d-flex align-items-center"
                        id="bd-lang"
                        type="button"
                        aria-expanded="false"
                        data-bs-toggle="dropdown"
                        data-bs-display="static">
                    <span class="ms-2" id="bd-lang-text">🌐</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-lang" style="--bs-dropdown-min-width: 8rem;">
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-lang-value="pl">
                            <span class="bi me-2 opacity-50 theme-icon">🇵🇱️</span>
                            <span class="bi ms-auto d-none" aria-pressed="false">✔️</span>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-lang-value="en">
                            <span class="bi me-2 opacity-50 theme-icon">🇬🇧</span>
                            <span class="bi ms-auto d-none" aria-pressed="false">✔️</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
<section>
    <div class="container-fluid my-5" >
        <h1 class="text-center fw-bold ">TOP 10</h1>
        <div class="row">
            <div class="owl-carousel owl-theme">
                <th:block th:each="book : ${top10Books}">
                    <div class="item">
                        <div class="card">
                            <img th:src="${book.cover}" alt="image" class="card-img-top">
                            <div class="card-body">
                                <h4 th:text="${book.title}"></h4>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>
<script th:src="@{/js/languages.js}"></script>
<script th:src="@{/js/darkmode.js}"></script>

<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 15,
        nav: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 2
            },
            1000: {
                items: 5
            }
        }
    })
</script>
</body>
</html>