<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="pl" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rejestracja</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="icon" href="data:,">

    <style>
        #loginForm {
            max-width: 300px;
            margin: 0 auto;
        }
    </style>

</head>
<body class="text-center">

<div class="container-fluid text-center">
<main class="form-signup">
    <form id="loginForm" method="post" th:action="@{/login/password-reset-request}"  th:object="${passwordRequestUtil}">
        <h1 class="h3 mt-5 fw-normal" th:text="#{reset}"></h1>
        <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" th:field="*{email}">
            <label for="email">Email</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" th:text="#{resetuj}"></button>
        <p class="mt-5 mb-3 text-muted"> Made in 2023</p>
    </form>
</main>
    <script th:src="@{/js/darkmode.js}"></script>
    <script th:src="@{/js/languages.js}"></script>
</div>